/* body{
    background-color: blue;
}

header{
    background-color: red;
} */
#cabeceraweb{
    background-color: blueviolet;
}
#navegaprincipar{
    background-color: aquamarine;
}

#barralatera{
    background-color: burlywood;
    float: left;
    height: 1080px;
    clear: both;
    margin-top: 10px;

}
#sectiones {
    background-color: brown;
    margin-left: 200px;
    padding-left: 15px;
    padding-top: 15px;

}

#footers {
    background-color: chocolate;
}
li{
    background-color: chartreuse;
    display:inline;
}